@import "~bootstrap/scss/bootstrap.scss";
@import "spinner.scss";


.container {
  margin-top: 15px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.form-control:focus {
  border-color: #6c757d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6c757d;
}

* {
  font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.text-small {
  font-size: 85%;
}
.text-x-small {
  font-size: 70%;
}
.text-xx-small {
  font-size: 55%;
}
.tiny {
  font-size: 1rem;
}
.small {
  font-size: 1.2rem;
}
.medium {
  font-size: 1.5rem;
}
.large {
  font-size: 2rem;
}

.pagination {
  justify-content: center;
}

.pagination .page-link {
  padding: 9px;
}

.pagination .page-item.active .page-link {
  background: #255962;
}

.pagination .page-item.active .page-link:hover {
  background: #255962;
  color: white;
}

.pagination .page-item .page-link:hover {
  -webkit-box-shadow:inset 0 0 0 2px #F9DB72;
  -moz-box-shadow:inset 0 0 0 2px #F9DB72;
  box-shadow:inset 0 0 0 2px #F9DB72;
  background: none;
  color: black;
}

.card {
  //border: 2px solid #255962;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow:inset 0px 0px 0px 2px #255962;
  -moz-box-shadow:inset 0px 0px 0px 2px #255962;
  box-shadow:inset 0px 0px 0px 2px #255962;
}

.card-body {
  border-radius: 0 0 10px 10px;
  overflow: auto;
}

.card-header:first-child {
  border-radius: 10px 10px 0 0;
  background: #255962;
  color: #FFFECB;
}

.info-button {
  color: #255962;
}

.info-button:hover {
  color: #F9DB72;
}

.form-select, .form-control {
  border-color: #255962
}

button.swal2-styled.swal2-confirm {
  background: #255962;
  color: #FFFECB;
  border-color: #255962;
}

button.swal2-styled.swal2-confirm:hover {
  background: #F9DB72;
  color: #255962;
  border-color: #F9DB72;
}

.navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
}

.navbar-toggler-icon .line {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 254, 203);
}
