.import-error .dropdown-toggle {
  text-decoration: none;
}

.import-error .dropdown-menu {
  transform: translate3d(2px, 18px, 0px) !important;
}

.import-error .pointer {
  text-decoration: none;
  color: black;
}
