.textarea-input {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid lightgray;
  resize: none;
}

.textarea-input:focus {
  outline: none;
}
