#login-button {
  background: #255962;
  color: #FFFECB;
  border-radius: 0.25rem;
  border-color: #255962;
}

#login-button img {
  height: 20px;
  margin: 6px;
  display: inline-block;
}

#login-button:hover {
  background: #F9DB72;
  color: #255962;
  border-color: #F9DB72;
}

#login-button:hover img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(40%) saturate(602%) hue-rotate(141deg) brightness(87%) contrast(90%);
}

#forgotten-password-button {
  color: #255962;
}

#forgotten-password-button:hover {
  color: #F9DB72;
  cursor: pointer;
}
