.organization-details .dl-horizontal {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 30px;
}

.user-inactive {
  opacity: 0.65;
}

@media (min-width: 768px) {
  .organization-details .dl-horizontal dd {
    margin-left: 200px;
  }
}

@media (min-width: 768px) {
  .organization-details .dl-horizontal dt {
    float: left;
    width: 180px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
