.title-for-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title-button-container {
  font-size: 20px;
  width: 100%;
  justify-content: end;
  text-align: right;
}

.title-button-container > * {
  margin-left: 5px;
}
