.search-message-container {
  margin-top: 20px;
}

.message-info-container {
  display: flex;
  flex-direction: row;
}

.no-messages-text {
  margin-top: 20px;
  display: block;
  float: none;
  text-align: center;
}

.message-container {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  width: 100%;
}

ol.message-container > div {
  border-bottom: 1.5px solid rgb(221, 221, 221);
  padding: 3px;
}

ol.message-container > div:nth-of-type(odd) {
  background-color: #efefef;
}

.inbox-icon-container {
  margin-right: 70px;
  transform: translate(10%, 15%);
  justify-content: flex-start;
  width: 10%;
}

.message-checkbox-container {
  margin-right: 6px;
  transform: translate(15%, 20%);
}

.event-message-link {
  text-decoration: none;
  width: 100%;
}

.event-messages-radio {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.blur-if-read {
  opacity: 0.5;
}

.inbox-buttons {
  margin-bottom: 25px;
}

.filter-type-container {
  margin-bottom: 25px;
  width: 20%;
}

.timestamp-container {
  width: 100%;
  text-align: right;
  color: gray;
  font-size: 10px;
}
