.news-posts-container {
  margin-top: 30px;
}

.delete-button {
  margin-left: 5px;
}

.edit-buttons-container {
  display: flex;
  flex-direction: row;
  //margin-top: 50px;
}

.edit-container > * {
  margin: 10px 0;
}

.news-post-button-container {
  margin-bottom: 30px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-container {
  margin-top: 25px;
}

.number-container {
  margin-top: 25px;
}

.order-content {
  transform: translate(0%, 12%);
}

.news-post-button-container {
  margin-top: 40px;
}

.modal-title {
  font-weight: bold;
}
