.dropdown-container {
  display: flex;
  flex-direction: row;
}

.predefined-label {
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .predefined-label {
    width: 15%;
  }

  .dropdown-one-container {
    width: 24%;
  }
  .dropdown-two-container {
    width: 24%;
  }
}