.error-text {
  font-size: 10px;
  color: red;
  margin-top: 5px;
}

.label-text {
  font-weight: bold;
}

.checkbox-container {
  margin-top: 25px;
}

.content-container {
  margin-top: 25px;
}

.textarea-input {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.textarea-input:focus {
  outline: none;
}

.event-message-button-container {
  margin-top: 40px;
}
