.responsibility-table-container {
  margin-top: 50px;
}

.table-left-column-name {
  text-align: center;
  border-right: 2px solid #ddd;
}

.table-right-column-name {
  text-align: center;
}

.based-granted-column {
  border-left: 2px solid #ddd;
  cursor: pointer;
}

.excel-report-button-container {
  margin-bottom: 30px;
}

.clickable-column {
  cursor: pointer;
}
