.primary-button {
  margin-right: 12px;
  padding-right: 17px;
  padding-left: 11px;
  height: 34px;
  background: #255962;
  color: #FFFECB;
  border-radius: 0.25rem;
  border-color: #255962;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.primary-button:hover {
  background: #F9DB72;
  color: #255962;
  border-color: #F9DB72;
}

.primary-button .button-icon {
  display: inline-block;
  margin-right: 5px;
}

.primary-button:disabled,
.primary-button[disabled] {
  background: #255962;
  border-color: #255962;
  color: #FFFECB;
  opacity: 0.5;
  cursor: default;
}
