.secondary-button {
  margin-right: 12px;
  padding-right: 17px;
  padding-left: 11px;
  min-height: 34px;
  background: #7AC0C2;
  color: #000000;
  border-radius: 0.25rem;
  border-color: #7AC0C2;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.secondary-button:hover {
  background: #D9E9DA;
  border-color: #D9E9DA;
}

.secondary-button .button-icon {
  display: inline-block;
  margin-right: 5px;
}

.secondary-button:disabled,
.secondary-button[disabled] {
  background: #7AC0C2;
  border-color: #7AC0C2;
  opacity: 0.5;
  cursor: default;
}
