.tertiary-button {
  margin-right: 12px;
  padding-right: 17px;
  padding-left: 11px;
  height: 34px;
  background: #EF8D88;
  color: #000000;
  border-radius: 0.25rem;
  border-color: #EF8D88;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.tertiary-button:hover {
  background: #F7E1D1;
  border-color: #F7E1D1;
}

.tertiary-button .button-icon {
  display: inline-block;
  margin-right: 5px;
}

.tertiary-button:disabled,
.tertiary-button[disabled] {
  background: #EF8D88;
  border-color: #EF8D88;
  opacity: 0.5;
  cursor: default;
}
