.radio-button-container {
  display: flex;
  flex-direction: column;
}

.radio-text {
  font-weight: bold;
  margin-left: 5px;
}

.form-group-year {
  margin-top: 25px;
}

.form-group-format {
  margin-top: 25px;
}

.download-button {
  margin-top: 25px;
}
