.chat-container {
  margin: auto;
  width: auto;
}

.chat-container .bubble-container {
  overflow: auto;
  padding: 1%;
}

.bubble-to-right {
  padding-left: 50%;
  margin-bottom: 20px;
  white-space: pre-line;
  word-break: break-all;
}

.bubble-to-left {
  padding-right: 50%;
  margin-bottom: 20px;
}

.bubble-to-center {
  margin-bottom: 20px;
}

.card-primary {
  background-color: #5c7dad;
  text-align: right;
}

.card-info {
  background-color: #d9d9d9;
  text-align: center;
}

.card-primary-dark {
  background-color: #336fc7;
}

.author {
  font-weight: bold;
}

.material-icons {
  transform: translate(0px, 5px) !important;
}

.material-icons-outlined {
  transform: translate(0px, 5px) !important;
}

.bubble-enter {
  opacity: 0;
  max-height: 0px;
  -webkit-transition: all linear 1.5s;
  transition: all linear 1.5s;
}

.bubble-enter-active {
  opacity: 1;
  max-height: 1000px;
}

.bubble-exit {
  opacity: 1;
  max-height: 1000px;
  -webkit-transition: all linear 1.5s;
  transition: all linear 1.5s;
}

.bubble-exit-active {
  opacity: 0;
  max-height: 0px;
}
