.col-sm {
  width: 50%;
}

.dl-horizontal {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.historic-prodnr {
  font-size: 12px;
}
