.main-header {
  background: #255962;
  color: #FFFECB;
}

.main-header .navbar-brand {
  color: #FFFECB;
}

#navbarNavDropdown .dropdown .dropdown-toggle {
  color: #FFFECB;
}

#navbarNavDropdown .dropdown ul {
  background: #FFFECB;
  border: 1px solid #255962;
  border-radius: 10px 0px 10px 10px;
  margin-top: 0.6rem;
}

#navbarNavDropdown .dropdown ul .dropdown-item {
  padding: 0.5rem
}

#navbarNavDropdown .dropdown ul .dropdown-item:hover {
  background: #F9DB72;
}

.dropdown-divider {
  margin: 0;
  padding: 0;
}
