#navbar .card {
  background: #FFFECB;
  box-shadow: 0 2px 4px 2px rgba(126, 126, 126, 0.25);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#navbar .nav-link.active {
  background: #255962;
  border-radius: 5px;
  color: #FFFECB;
}

#navbar .nav-link {
  color: #255962;
}

#navbar .nav-link:hover {
  background: #F9DB72;
  border-radius: 5px;
}

.counter-container {
  background: black;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: rgb(255, 255, 255);
  display: inline-block;
  line-height: 25px;
  text-align: center;
  width: 25px;
}
